{% extends 'base.html.twig' %}

{% block body %}
    <div class="container" id="app" data-url="{{ path('api_message_list') }}">
        <div class="py-5 text-center">
            <h2>Here are all the messages</h2>
            <a href="{{ path('create_message') }}" class="btn btn-outline-success">Create Message</a>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-4 order-md-2 mb-4">
                <div v-for="message in messages">
                    <div class="card">
                        <div class="card-body">
                            <h6 class="card-subtitle mb-2 text-muted" v-text="message.sender"></h6>
                            <p class="card-text" v-text="message.body"></p>
                        </div>
                    </div>
                    <br>
                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                loading: false,
                messages: []
            },
            mounted: function () {
                this.fetchData(this.$el.attributes['data-url'].value);
            },
            methods: {
                fetchData (url) {
                    this.error = this.post = null;
                    this.loading = true;
                    // replace `getPost` with your data fetching util / API wrapper
                    this.$http.get(url).then(response => {
                        this.messages = response.body;
                    }, response => {
                        this.messages = [];
                    })
                }
            }
        })
    </script>
{% endblock %}

{% block stylesheets %}

{% endblock %}
